/* This sheet for Football project CSS */
/* poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

/* defult property */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

/* .......................Header area ............................................*/
.football_header_area {
    background-color: #2D25A0;
    height: 675px;

    display: flex;
    justify-content: center;

}

.container {
    width: 1160px;
    display: flex;
    flex-direction: column;
}

.menu_area {
    display: flex;

}
/* ..............................Menu Stye......................................... */
.football_menu {
    height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 42px 0px;
}

.football_menu .menu_area {

    padding: 10px 0px;

}

.football_menu .menu_area ul {
    list-style: none;
    display: block;

}

.football_menu .menu_area ul li {
    display: inline-block;

}

.football_menu .menu_area ul li a {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}

/* loginButton */
.login_button {
    background-color: #E02C6D;
    height: 44px;
    width: 123px;

}

.football_menu .login_button ul {
    list-style: none;
    display: block;

}

.football_menu .login_button ul li {
    display: inline-block;

}

.football_menu .login_button ul li a {

    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}

.fa-sign-in-alt {
    padding: 15px 15px;

    font-size: 16px;

}

/* ..................................................Banner Areas .................................*/
.football_hero_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.left_text_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: start;
}

.left_text_content h2 {
    font-size: 64px;
    color: white;
    font-weight: 700;
    line-height: 80px;

}

.watch_button {
    margin-top: 27px;
    padding: 15px 20px;
    height: 30px;
    width: 130px;


    font-weight: medium;
    background-color: #E02C6D;

}

.watch_button a {
    font-size: 18px;

}

.watch_button:hover {
  background-color: rgb(228, 64, 64);
  
  

}

.fa-arrow-right {
    margin-left: 10px;

}



.right_img_content {
    width: 100%;

}

.right_img_content img {
    width: 100%;

}



/*....................................... player Blogs area............................  */

.football_players_area,.football_highlight_area{
    padding: 70px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.football_players_area .container{
  

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



.football_players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:30px;
    row-gap: 30px;
}
.football_player{
    width: 330px;
    height: 474px;
    box-shadow: 0 4px 8px 0 rgba(219, 218, 218, 0.596), 0 6px 20px 0 rgba(230, 225, 225, 0.5);
    border: 0px;
    padding:20px;
    
}
.football_player img{
    height: 260px;
    width: 100%;
}
.football_player h4{
   font-size: 28px;
   font-weight: 700;
padding: 5px 0px}

.football_player p{
    font-size: 16px;
    font-weight:300;
 padding: 5px 0px}

  

 /*................. Highlight Match area css .............................*/
 .football_highlight_area .container{
     display: flex;
     flex-direction: row;
     justify-content: center;
align-items: center;
 }
 .left_text_area{
     width: 45%;
     margin-right: 50px;
 }
 .left_text_area h2{
     font-size: 48px;
     font-weight: 700;
     text-transform: capitalize;
 }



 .right_img_area{
     width:55%;
 }
 .right_img_area img{
    width: 100%;
    height: 100%;
}





/* ............................................... Footter Area Style...........................................  */

.football_footer_area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0px;
}

.football_footer_area .container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_img_area img {
   height:130px;
   margin-bottom: 20px;
 

}
.social_media_area ul{
    list-style: none;
    display: block;
    margin-bottom: 20px;

}
.social_media_area ul{
    list-style: none;
    display: block;

}
.social_media_area ul li{
    list-style: none;
    display: inline-block;
    

}

.social_media_area ul li a img{
    height:50px;
    width: 50px;
   
    padding: 10px 12px;
    
   

}

.copyewrite_area h4{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

/* .social_media_area ul li a:hover {
    
    background-color: #E02C6D;
    color: rgb(0, 0, 0);

} */


